.historyContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }
  .title{
    margin: auto;
    font-size: 1.1rem;
    font-weight: 500;
    color:red
  }
  
  .listContainer ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @media (min-width: 1024px) {
    .historyContainer {
      flex-wrap: wrap; 
      align-items: flex-start;
    }
  
    .listContainer ul {
      flex-direction: row; 
      flex-wrap: wrap; 
      justify-content: flex-start;
    }
  }
  