.homeContainer {
    display: flex;
    flex-direction: column;
}
.homeTitle {
    margin: 10px auto;
}

.uploadContainer {
    margin: 3rem auto;

}

.uploadContainer label {
    width: 100px;
    height: 190px;
    display: flex;
    flex-direction: column;
}

.home imageDetails {
    margin: auto;
}

.label {
    margin: auto;

}
.home-imageDetails{
    border: 1px solid black;
    margin: auto;
    padding: 1.2rem;
    color: black;

}
.home-imageDetails img{
    width: 280px;
    height: 250px;
}
.predictBtn{
    width: fit-content;
    margin: 1.5rem auto 5rem auto;
}

@media (min-width: 1024px) {
    .home-imageDetails img{
        width: 400px;
        height: 350px;

    
    }
}